@model ASX.Web.Models.ContactModel
@{
    ViewBag.Title = "Contact Me";
}

<h2>Contact Me</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width: 90%;">
        <tr>
            <td>@Html.LabelFor(model => model.Name, "Name")</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Email, "Email")</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Email)</td>
            <td>@Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Phone, "Phone")</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Message, "Message")</td>
        </tr>
        <tr>
            <td>@Html.TextAreaFor(model => model.Message)</td>
            <td>@Html.ValidationMessageFor(model => model.Message)</td>
        </tr>
        <tr>
            <td>
                @Html.ReCaptcha()
                @if (TempData["ReCaptchaError"] != null)
                {
                    <p>@TempData["ReCaptchaError"]</p>
                }
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Submit" />
    </p>
}
